<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Avito AAA</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
   <style>
    .mistake_type {
      color: red; font-weight: 800; background: lightgray;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      font-weight: bold;
    }
    .mistake {
      color: red; font-weight: 800; background: lightgray;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }
    table {
    border-collapse: collapse;
    margin: 15px auto;
    text-align: center;
    }
    td, th {
    border: 2px solid black;
    padding: 5px;
    }
    </style>
  </head>
  <body>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/avito.svg" alt="avito" />
        </a>
      </div>
    </nav>
    {% if not image and not words and not error %}
    <h1 style="text-align: center;">Это форма для загрузки файла</h1>
    {% endif %}
    {% if error %}  
    <h1 class="mistake_type">{{error_type}}</h1>
    <p class="mistake">{{error}}</p>
    {% endif %}

    <div style="text-align: center;">
    <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept=".jpeg, .jpg, .png, .tiff">
    <div class="container mt-3 text-center">
    <label for="thr">Введите минимальное значение accuracy</label>
    <input type="number" name="thr" min="0" max="100">
    </div>
    <button type="submit">
      Загрузить изображение
    </button>
    </form>
    </div>
    {% if image %}
    <div style="text-align: center;">
    <h3>Полученный результат: картинка с выделенными фрагментами, содержащими текст.</h3>
    <img src="{{image}}" alt="Image with text fragments">
    </div>
    {% endif %}
    {% if words %}
    <div class="container mt-3 text-center">
    <label for="sortOrder">Сортировать:</label>
    <select id="sortItem" onchange="sortTable()">
        <option value="acc">Accuracy</option>
        <option value="text">Текст</option>
    </select>
    <select id="sortOrder" onchange="sortTable()">
        <option value="none">Без сортировки</option>
        <option value="desc">По убыванию (сначала высокие значения)</option>
        <option value="asc">По возрастанию (сначала низкие значения)</option>
    </select>
</div>
<table id="resultTable">
  <thead>
  <tr>
    <th>Фрагмент изображения</th>
    <th>Текст на фрагменте</th>
    <th>Accuracy</th>
  </tr>
  </thead>
  <tbody id="tableBody">
  {% for elem in words %}
  <tr class="data-row" data-accuracy="{{ elem.accuracy }}" data-text="{{ elem.word|lower }}">
    <td><img src="{{elem.image}}" alt="Image"></td>
    <td>"{{elem.word}}"</td>
    <td>"{{elem.accuracy}}"</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
 {% endif %}

    <footer class="container mt-5">
      <p class="text-center text-muted">© 2025 Академия Аналитиков Авито</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
function sortTable() {
    const item = document.getElementById("sortItem").value;
    const order = document.getElementById("sortOrder").value;
    const body = document.getElementById("tableBody");
    const rows = Array.from(body.querySelectorAll(".data-row"));

    if (order === "none") return;
    if (item == "acc") {
        rows.sort((a, b) => {
            const valA = parseFloat(a.getAttribute("data-accuracy"));
            const valB = parseFloat(b.getAttribute("data-accuracy"));       
            if (order === "asc") {
                return valA - valB;
            }
            else {
                return valB - valA;
            }
    });}
    else if (item == "text") {
        rows.sort((a, b) => {
            const valA = a.getAttribute("data-text");
            const valB = b.getAttribute("data-text");       
            if (order === "asc"){
                return valA.localeCompare(valB);
            }
            else if (order === "desc"){
                return valB.localeCompare(valA);
            }
    });}

    rows.forEach(row => body.appendChild(row));
}
</script>
  </body>
</html>
